<h3>Choose help location</h3>
<agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">
      
    <agm-info-window>
      <strong>InfoWindow content</strong>
    </agm-info-window>
    
  </agm-marker>
  
  <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
      [radius]="5000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
  </agm-circle>
</agm-map>
<br>
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-primary btn-lg btn-block" (click)="openModal(template)">Ask help</button>

<ng-template #template>
  <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" 
              aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
    <form #newTicketForm="ngForm" (ngSubmit)="onFormSubmit(newTicketForm)">
      <div class="form-group">
        <label for="descriptionText">Description</label>
        <textarea ngModel class="form-control" id="descriptionText" name="descText" placeholder="Write your description here" required></textarea>
        <small id="descHelp" class="form-text text-muted">Please include details that could be useful for the responder.</small>
      </div>
      <div class="form-group">
        <label for="severity">Severity</label>
        <select ngModel class="form-control" id="severity" name="severity" required>
          <option>High</option>
          <option>Medium</option>
          <option>Low</option>
        </select>
      </div>
      {{newTicketForm.value | json }}
      <button [disabled]="!newTicketForm.form.valid" type="submit" class="btn btn-primary">Proceed</button>
    </form>
  </div>
</ng-template>